@using Elearning.Areas.Admin.Models;
@model IEnumerable<Teacher>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h2>Danh sách giáo viên</h2>
    </div>

    <p>
        <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="GiaoVien" asp-action="ThemMoi">
            <i class="bi bi-person-plus me-1"></i>Thêm giáo viên
        </a>
    </p>

    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body mt-4">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th class="col-1 text-center">#</th>
                                    <th class="col-3 text-left">Họ và tên</th>
                                    <th class="col-2 text-center">Học vị / Chuyên môn</th>
                                    <th class="col-2 text-left">Nơi công tác</th>
                                    <th class="col-2 text-center">Email</th>
                                    <th class="col-1 text-center">Active</th>
                                    <th class="col-1 text-center">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center" scope="row">@item.TeacherId</td>
                                            <td class="text-left text-primary" scope="row">
                                                <a asp-area="Admin" asp-controller="GiaoVien" asp-action="Delete" asp-route-id="@item.TeacherId">
                                                    @((item.User != null) ? item.User.FullName : "Không có tên")
                                                </a>
                                            </td>
                                            <td class="text-center" scope="row">
                                                @(!string.IsNullOrEmpty(item.HocVi) ? item.HocVi : item.ChuyenMon)
                                            </td>
                                            <td class="text-left" scope="row">@item.NoiCongTac</td>
                                            <td class="text-center" scope="row">@item.Email</td>
                                            <td class="text-center" scope="row">@((item.User != null && item.User.IsActive == false) ? "False" : "True")</td>
                                            <td class="text-center" scope="row">
                                               
                                                <a asp-area="Admin" asp-controller="GiaoVien" asp-action="Delete" asp-route-id="@item.TeacherId" class="btn btn-danger btn-sm" title="Deactivate"><i class="bi bi-trash"></i></a>
                                                <a asp-area="Admin" asp-controller="GiaoVien" asp-action="Details" asp-route-id="@item.TeacherId" class="btn btn-info btn-sm" title="Details"><i class="bi bi-pencil"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
